@model ActivityVerification.Models.Activity

<meta charset="utf-8" />
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">Activity Details</h4>
</div>


<div class="container">
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityType.Type):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityType.Type)
        </dd>
        @if (Model.Type == 2)
    {

        <dt>
            @Html.DisplayNameFor(model => model.RecognitionReason1.Reason):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecognitionReason1.Reason)
        </dd>
}

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verified)
        </dd>
        <dt>
            Updated:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>
    </dl>

</div>

