@model ActivityVerification.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityType.Type)
        </dt>
        @if (Model.Type == 2)
    {
        <dd>
            @Html.DisplayFor(model => model.ActivityType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecognitionReason1.Reason)
        </dt>
}


        <dd>
            @Html.DisplayFor(model => model.RecognitionReason1.Reason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verified)
        </dd>

        <dt>
            Updated
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>





        <dt>
            Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
